<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--데이터를 꺼내는 방법 2가지-->
  <h4>[[${list}]]</h4>
  <hr/>
  <h4 th:text="${list}"></h4>

  <!-- 리스트의 요소를 차례대로 꺼내는 2가지 방법-->
  <ul>
    <li th:each="str: ${list}" th:text="${str}"></li>
  </ul>

  <ul>
    <th:block th:each="str: ${list}">
      <li>[[${str}]]</li>
    </th:block>
  </ul>

  <!-- list에서는 status라고 하는 값을 사용할 수 있다.-->
  <ul>
    <li th:each="str,status: ${list}">
      [[${status.index}]] -- [[${str}]]
    </li>
  </ul>
  <!-- 인덱스는 프로그램상으로 쓰이는 개념이고, html에서는 1부터 시작하므로 index로 표시되는 숫자와 홀수 짝수가 다르게 출력됨-->
  <ul>
    <li th:each="str,status: ${list}">
      <span th:if="${status.odd}"> ODD -- [[${str}]]</span>
      <span th:unless="${status.odd}"> EVEN -- [[${str}]]</span>
    </li>
  </ul>

  <ul>
    <li th:each="str,status: ${list}">
      <span th:text="${status.odd} ? 'ODD----'+${str}"></span>
    </li>
  </ul>

  <ul>
    <li th:each="str,status: ${list}">
      <span th:text="${status.odd} ? 'ODD----'+${str} : 'EVEN ----' + ${str}"></span>
    </li>
  </ul>

  <ul>
    <li th:each="str,status: ${list}">
      <th:block th:switch="${status.index % 3}">
        <span th:case="0">0</span>
        <span th:case="1">1</span>
        <span th:case="2">2</span>
      </th:block>
    </li>
  </ul>

  <!-- 링크 처리-->
  <a th:href="@{/hello}">Go to /hello</a><br>
  <a th:href="@{/hello(name='AAA', age=16)}">Go to /hello</a><br>
  <a th:href="@{/hello(name='한글처리', age=16)}">Go to /hello</a><br>
  <a th:href="@{/hello(types=${ {'AA','BB','CC'} }, age=16)}">Go to /hello</a>

</body>
</html>